GUESS_LLAMA_IMAGE_SERVER_URL="https://openrouter.ai/api"
GUESS_LLAMA_IMAGE_SERVER_MODEL="black-forest-labs/flux.2-klein-4b"
GUESS_LLAMA_IMAGE_SERVER_API_KEY="sk-or-v1-your-key"
GUESS_LLAMA_IMAGE_TIMEOUT="900"
GUESS_LLAMA_LLM_SERVER="http://localhost:8080/v1"
GUESS_LLAMA_LLM_API_KEY=""
GUESS_LLAMA_LLM_MODEL="qwen3.5"
GUESS_LLAMA_LLM_TIMEOUT="14400"
